{% extends 'base.html' %}
{% block page_title %}About Page{% endblock %} 

{% block content %}
<div class="container" align="center">


<div class="row">
    <!-- Design 1 -->
    <div class="col-lg-5 col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding1.jpeg" class="card-img-top" alt="WeddingDesign1">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">The Personal Touch</h5>
          <div class="card-text text-black-50">Family-run business</div>
        </div>
      </div></div>
      <div class="col-lg-7">
        <h1 class="font-weight-light">"About us..."</h1><br>
        <p>Based in Limerick City, we are a proud family-run Irish company that employs twelve staff.  We provide a wide variety of wedding invitation designs and pride ourselves in our attention to detail and our customer care.</p>
      </div>
    </div>
    <br><hr><br>
    
    <!-- Design 2 -->
<div class="row">
    <!-- Design 1 -->
    <div class="col-lg-7">
        <h1 class="font-weight-light">"Our promise to you..."</h1><br>
        <p>We pride ourselves in our customer care and promise to make your time with us a pleasant experience.</p>
      </div>
    <div class="col-lg-5 col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding2.jpeg" class="card-img-top" alt="WeddingDesign2">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Customer Care</h5>
          <div class="card-text text-black-50">Our speciality</div>
        </div>
      </div></div>
      
    </div>
    <br><hr><br>
    
    <!-- Design 3 -->
<div class="row">
    <!-- Design 1 -->
    <div class="col-lg-5 col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding3.jpeg" class="card-img-top" alt="WeddingDesign3">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Great Designs</h5>
          <div class="card-text text-black-50">Huge Selection</div>
        </div>
      </div></div>
      <div class="col-lg-7">
        <h1 class="font-weight-light">"So much to choose from..."</h1><br>
        <p>We provide a huge collection of wedding invitation designs to suit everyone's needs.  All styles, shapes and sizes are catered for. Log in to our secure site and choose the invitations for your big day!</p>
      </div>
    </div>
    <br><hr><br>
    
    <!-- Design 4 -->
    <div class="row">
    <!-- Design 1 -->
    <div class="col-lg-7">
        <h1 class="font-weight-light">"Stay in touch..."</h1><br>
        <p>Email us at <strong>info@yourweddinginvitations.email</strong> for any queries you might have about any of our services.  We look forward to hearing from you.</p>
      </div>
    <div class="col-lg-5 col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding4.jpeg" class="card-img-top" alt="WeddingDesign4">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Contact</h5>
          <div class="card-text text-black-50">info@yourweddinginvitations</div>
        </div>
      </div></div>
      
    </div>
  <!-- /.row -->
</div>
</div>
<!-- /.container -->
<br><br><br>


{% endblock %}