{% extends 'base.html' %} 
{% block page_title %}About Page{% endblock %} 
{% block content %}

<div class="container" align="center">
  <h1 class="display-4 alert alert-purple text-white">About Us</h1><br><br>

  <div class="row bg-white about-row align-items-center">
    <div class="media-body col-lg-3 col-xl-3 col-md-6 mb-6">
      <div class="media-left">
        <a href="{% url 'login' %}">
      <img class="media-object" src="../media/img/wedding1.jpeg" alt="wedding pic 1">
    </a>
      </div>
    </div>
    <div class="media-body col-lg-9 col-xl-9 col-md-6 mb-4"><br>
      <div class="media-right">
        <h4 class="media-heading">"Our company..."</h4>
        Based in Limerick City, we are a proud family-run Irish company that employs twelve staff. We provide a wide variety of wedding invitation designs and pride ourselves in our attention to detail and our customer care.
      </div>
    </div>
  </div><br><br>

  <div class="row bg-white about-row align-items-center">
    <div class="media-body col-lg-9 col-xl-9 col-md-6 mb-4"><br>
      <div class="media-left">
        <h4 class="media-heading">"Customer Care"</h4>
        We pride ourselves in our customer care and promise to make your time with us a pleasant experience.
      </div>
    </div>
    <div class="media-body col-lg-3 col-xl-3 col-md-6 mb-6">
      <div class="media-right">
        <a href="{% url 'login' %}">
      <img class="media-object" src="../media/img/wedding2.jpeg" alt="wedding pic 2">
    </a>
      </div>
    </div>
  </div><br><br>

  <div class="row bg-white about-row align-items-center">
    <div class="media-body col-lg-3 col-xl-3 col-md-6 mb-6">
      <div class="media-left">
        <a href="{% url 'login' %}">
      <img class="media-object" src="../media/img/wedding3.jpeg" alt="wedding pic 3">
    </a>
      </div>
    </div>
    <div class="media-body col-lg-9 col-xl-9 col-md-6 mb-4"><br>
      <div class="media-right">
        <h4 class="media-heading">"Great Designs"</h4>
        We provide a huge collection of wedding invitation designs to suit everyone's needs. All styles, shapes and sizes are catered for. Log in to our secure site and choose the invitations for your big day!
      </div>
    </div>
  </div><br><br>

  <div class="row bg-white about-row align-items-center">
    <div class="media-body col-lg-9 col-xl-9 col-md-6 mb-4">
      <div class="media-left">
        <h4 class="media-heading">"Contact"</h4>
        Email us at <strong>info@yourweddinginvitations.email</strong> for any queries you might have about any of our services. We look forward to hearing from you.
      </div>
    </div><br>
    <div class="media-body col-lg-3 col-xl-3 col-md-6 mb-6">
      <div class="media-right">
        <a href="{% url 'login' %}">
      <img class="media-object" src="../media/img/wedding4.jpeg" alt="wedding pic 4">
    </a>
      </div>
    </div>
  </div><br><br>


</div>

{% endblock %}