{% extends 'base.html' %} 
{% block page_title %}About Page{% endblock %} 
{% block content %}

<div class="container" align="center">

  <div class="row">
    <!-- Design 1 text then image -->
    <div class="col-lg-9 col-xl-9 col-md-6 mb-8"><br><br>
      <h1 class="font-weight-light display-4">"About us..."</h1><br>
      <p>Based in Limerick City, we are a proud family-run Irish company that employs twelve staff. We provide a wide variety of wedding invitation designs and pride ourselves in our attention to detail and our customer care.</p>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-6 mb-4"><br><br>
      <div class="card border-0 shadow">
        <img src="../media/img/wedding1.jpeg" class="card-img-top" alt="WeddingDesign1">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">The Personal Touch</h5>
          <div class="card-text text-black-50">Family-run business</div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <hr><br><br><br>

  <div class="row">
    <!-- Design 2 image then text -->
    <div class="col-lg-3 col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding2.jpeg" class="card-img-top" alt="WeddingDesign2">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Customer Care</h5>
          <div class="card-text text-black-50">Our speciality</div>
        </div>
      </div>
    </div><br><br>
    <div class="col-lg-9 col-xl-9 col-md-6 mb-8">
      <h1 class="font-weight-light display-4">"Our promise to you..."</h1><br>
      <p>We pride ourselves in our customer care and promise to make your time with us a pleasant experience.</p>
    </div>
  </div>
  <br><br>
  <hr><br>

  <div class="row">
    <!-- Design 3 text then image -->
    <div class="col-lg-9 col-xl-9 col-md-6 mb-8"><br><br>
      <h1 class="font-weight-light display-4">"So much to choose from..."</h1><br>
      <p>We provide a huge collection of wedding invitation designs to suit everyone's needs. All styles, shapes and sizes are catered for. Log in to our secure site and choose the invitations for your big day!</p>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-6 mb-4"><br><br>
      <div class="card border-0 shadow">
        <img src="../media/img/wedding3.jpeg" class="card-img-top" alt="WeddingDesign3">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Great Designs</h5>
          <div class="card-text text-black-50">Huge Selection</div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <hr><br><br><br>

  <div class="row">
    <!-- Design 4 image then text -->
    <div class="col-lg-3 col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding4.jpeg" class="card-img-top" alt="WeddingDesign4">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Contact</h5>
          <div class="card-text text-black-50">info@yourweddinginvitations</div>
        </div>
      </div>
    </div><br><br>
    <div class="col-lg-9 col-xl-9 col-md-6 mb-8">
      <h1 class="font-weight-light display-4">"Stay in touch..."</h1><br>
      <p>Email us at <strong>info@yourweddinginvitations.email</strong> for any queries you might have about any of our services. We look forward to hearing from you.</p>
    </div>
  </div>
</div>

</div>

<br><br><br><br> 

{% endblock %}