{% extends 'base.html' %} 
{% block page_title %}Home Page{% endblock %} 

{% block content %}

<div class="container" align="center">
<h1>Welcome to "Your Wedding Invitations"</h1><br>
<h4>The search for your wedding invitations is over!</h4>  
<p>Check out our designs in all shapes and sizes and experience our quality service now.</p>

<br><hr><br>


  <div class="row">
    <!-- Design 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding1.jpeg" class="card-img-top" alt="WeddingDesign1">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Great Designs</h5>
          <div class="card-text text-black-50">Huge Selection</div>
        </div>
      </div>
    </div>
    <!-- Design 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding2.jpeg" class="card-img-top" alt="WeddingDesign2">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Best Prices</h5>
          <div class="card-text text-black-50">Very Affordable</div>
        </div>
      </div>
    </div>
    <!-- Design 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding3.jpeg" class="card-img-top" alt="WeddingDesign3">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Excellent Service</h5>
          <div class="card-text text-black-50">Top Customer Care</div>
        </div>
      </div>
    </div>
    <!-- Design 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../media/img/wedding4.jpeg" class="card-img-top" alt="WeddingDesign4">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Your Wedding</h5>
          <div class="card-text text-black-50">Perfect!</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<br><br><br>

{% endblock %}
