{% extends 'base.html' %} 
{% block page_title %}User Registration Page{% endblock %} 
{% block page_heading %}User Registration{% endblock %} 

{% block content %}
    
<p>If you already have an account, you can <a href="{% url 'login' %}">log in here</a></p><hr>

<p>Please enter your details and click the 'Register' button.</p><br>

<form method="POST">
        {% csrf_token %} 
        {{ registration_form.as_p }}
        <br>
        <button type="submit">Register</button>
    </form>
    
{% endblock %}