{% extends 'base.html' %} 

{% load bootstrap_tags %}

{% block page_title %}User Registration Page{% endblock %} 

{% block content %}
    
<div class="container" align="center">
        <h2 class="display-4">User Registration</h2>
        <p>If you already have an account, you can <a href="{% url 'login' %}">log in here</a></p>
        <hr>

        <p>For access to our online store, please enter your details and click the 'Register' button.</p><br>

        <form method="POST" align="left">
                {% csrf_token %} {{ registration_form | as_bootstrap }}
                <br>
                <button type="submit" class="btn btn-success">Register</button>
        </form>
        <br><br>
</div><br><br>
    
{% endblock %}