{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":9,"column":0},"end":{"row":11,"column":0},"action":"insert","lines":["env.py","env.py",""],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":2},"end":{"row":5,"column":2},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567767836443,"hash":"050380166d7e1ee621c5ba1a711e2b3db1ee0206"}