{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":0},"end":{"row":10,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1567503461234,"hash":"888ade98a4fce9ea088cd78af423780b7e8d41ee"}