{% extends 'base.html' %}

{% block content %}

<div class="container" align="center">
<h2 class="display-4 alert alert-purple text-white">Choose Your Invitation.</h2><br>
<div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default border-0 shadow bg-white">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div><br>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>€{{ product.price }} each</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                        <span class="input-group-btn">
                            <button class="btn btncolor text-white" type="submit">Add</button>
                        </span>
                    </div>
                </form><br>
            </div>
        </div>
    {% endfor %}
</div>
</div>
<br><br><br><br>

{% endblock %}