{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="container" align="center">
    <h1 class="display-4 alert alert-purple text-white">Checkout</h1>
    <br><hr>
    <div class="row row-flex">
        
        {% for item in cart_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default border-0 shadow bg-white">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div><br>

                <div class="caption">
                    <h3>{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <p>Quntity:&nbsp{{ item.quantity }}</p>
                    <p>€{{ item.product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br><br>
    <div class="row alert alert-purple">
        <p class="text-white m-0 display-amount">Your total amount is: &nbsp&nbsp</p>
        <p class="text-white m-0 display-amount"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>€{{ total }}</p>
    </div><br>
    <hr><br>
    
<!--Wedding Info Form and Payment Details-->

    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        

        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <h3 class="display-4">Your Wedding Information</h3><br>
        <div class="form-group col-md-7" align="left">
            {{ order_form | as_bootstrap }}
        </div><br><hr><br>

        <h3 class="display-4">Payment Details</h3><br>
        <div class="form-group col-md-5" align="left">
            {{ payment_form | as_bootstrap }}
        </div>

        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>
<br><br>

{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %} 
