{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container" align="center">
    <h1 class="display-4 alert alert-purple text-white">Your Cart</h1>
    <br><hr>
    <div class="row row-flex">
        {% for item in cart_items %}

        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default border-0 shadow bg-white">

            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
            <br>
            <div class="caption">
                <h3>{{ item.product.name }}</h3>
                <p class="product-description">{{ item.product.description }}</p>
                <p>€{{ item.product.price }} each</p>
                 <p>
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">Quantity</label>
                            <div class="input-group">
                                <div class="input-group-addon">Qty&nbsp</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-addon">&nbsp(Current Qty: {{item.quantity}})&nbsp&nbsp&nbsp</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btncolor text-white">Update</button>
                    </form>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <hr>
    <br><br>
    <div class="row alert alert-purple">
        <p class="text-white m-0 display-amount">Your total amount is: &nbsp&nbsp</p>
        <p class="text-white m-0 display-amount"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>€{{ total }}</p>
    </div><br><br>
    <div class="row">
        <a href="{% url 'products' %}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Continue Shopping?</a>&nbsp&nbsp&nbsp
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout Now!</a>
    </div>
</div><br><br>

{% endblock %}