body {
    font-family: Arial;
    padding-top: 100px;
}

/* Product display styles */
.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 25px 25px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    padding: 20px;
}

.product-description {
    min-height: 40px;
}


/* Styles for carousel on home page */
.carousel-item {
  height: 40vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
    background-color: white;
    opacity: 0.8;
}


/* Page headings */
.display-4 {
    color: black;
    font-family: script;
    font-size: 40px;
}


/* Splash banner display */
.display-5 {
    color: white;
    font-family: script;
}

.lead {
    color: black;
}