{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{% block page_title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/small-business.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'custom_css/custom.css' %}">
    
    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a>
            <li class="nav-item"><a class="nav-link" href="{% url 'about_page' %}">About us</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Dashboard</a></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'view_cart' %}">Cart ( 
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}items)
                </a>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
            {% endif %}
            
        </ul>
    </nav>

<!-- Page Content -->
  <div class="container2" align="center">

    <!-- Heading Row -->
    <div class="row align-items-center my-5 bg-white page-intro">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/weddingmontage2.jpg' %}" alt="wedding collage pic">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-6">
        <h1 class="font-weight-light display-4">Your Wedding Invitations</h1>
        <p>We provide the best wedding invitations around. From our elegant designs to our hassle-free service, we have it all. Log in to our secure site and choose the invitations for your big day!</p>
        <a class="btn btncolor text-white" href="{% url 'login' %}">Shop!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white text-center">
      <div class="card-body cardbg">
        <h2 class="text-white m-0 display-5">"It's time to tell everyone about your big day!"</h2>
      </div>
    </div></div>



    {% if messages %}
    <div class="alert alert-success" role="alert" align="center">
        {% for message in messages %} 
        {{ message }} 
        {% endfor %}
    </div>
    {% endif %} 
    
    <div class="container-index"><br>
    {% block content %}
    {% endblock %}
    </div>
    
<!-- Footer -->
  <footer class="py-5 footerbg">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Wedding Invitations 2019</p>
    </div>
    <!-- /.container -->
  </footer>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
{% block head_js %}
{% endblock head_js %} 
</body>
</html>