{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{% block page_title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
</head>
<body>
    
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Customer profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'about_page' %}">About us</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'registration' %}">Register</a></li>
            {% endif %}
            <li><a href="{% url 'view_cart' %}">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
                {% endif %}
                </a>
            </li>
        </ul>
    </nav>

<h1>{% block page_heading %} {% endblock %}</h1>

    {% if messages %}
    <div>
        {% for message in messages %} 
        {{ message }} 
        {% endfor %}
    </div>
    {% endif %} 
    
    {% block content %}
    {% endblock %}
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</body>
</html>